body{
    background-color: #0b0d0f;
    color: white;
}
.movie-top{
    margin: 0px 0px 0px 125px;
    height: 300px;
    width: 83.5%;
    display: inline-block;
}

.status-header{
    font-size: 18px;
}

.status-header::after{
    content: "";
    position: absolute;
    background:#0089d0;
    z-index: 1;
    box-shadow: 0 0 15px 1px #0089d0;
}
.search-box{
    height: 80px;
    width: 100%;
    margin-top: 50px;
    border-radius: 5px;
    color: #96989a;
    background-color: #212326;
    outline: none;
    border: none;
    font-size: 35px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.filter-box-container{
    margin: 30px 0px 0px 0px;
    width: 100%;
    height: 60px;
    display: flex;
}

.filter-box{
   height: 45px;
   width: 250px;
   border-radius: 3px;
   color: 96989a;
    background-color: #020000;
    /* background-color: wheat; */
    color: wheat;
    border-style: none;
    outline: none;
    font-size: 16px;
    margin-top: 7px;
    margin-left: 20px;
    display: inline-block;   
}

.filter-box:focus{
    background-color: wheat;
    color: #020000;  
}

.filter-box option{
    font-size: 18px;
}



.show-status{
    width: 390px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 17.5PX;
    font-weight: 800;
    color: white;
}

.divider{
    height: 0.07px;
    width: 100%;
    background-color: darkgray;
    opacity: 0.1;
}

.home-center{
    display: inline-block;
    width: 100%;
    height: 1200px;
    max-height: auto; 
    margin-top: 100px;
}

.movies-center{
    margin: 60px 0px 0px 125px;
    width: 83.5%;
    /* height: 574px; */
    height: auto;
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr 0fr 0fr;
}

.movie-card{
    margin: 0px 12.5px 10px 0px;
    width: 201px;
    height: 400px;
    display: inline-block;
}

.movie-card-pic{
    width: 201px;
    height: 270px;
}

.movie-card-footer{
    width: 201px;
    height: 130px;
    
}
.movie-pic{
    width: 201px;
    height: 270px;
}