.nav-content{
    width: 100%;
    height: 70px;
    background-color: #0b0d0f;
    display: flex;
    justify-content: space-between;
    position: fixed;
    
}

.nav-user{
    margin-right: 15px;
    margin-top: 20px;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    outline: none;
    border-style: none;
    color: #bbc0c6;
    text-indent: 5px;
    background-color: #0b0d0f;
}

.nav-center{
    margin-left: 4%;
    margin-top: 10px;
    display: flex;
    font-size: 15px;
    width: 62%;
}

.nav-links{
    margin-right: 15px;
    color: #96989a;
}

.nav-links:hover{
    color: white;
}